.popup {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.popup.is-active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.popup__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 15px;
}

.popup__content {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 32px rgba(165, 165, 165, 0.3);
  border-radius: 8px;
}

.btn-close {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: -42px;
  right: -11px;
}

.btn-close::before,
.btn-close::after {
  content: "";
  background-color: #fff;
  height: 30px;
  width: 4px;
  position: absolute;
  border-radius: 20px;
  top: 8px;
}

.btn-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-close:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-close:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8;
}

#third__modal {
  background: url("../img/modal/2.png") 0 0 no-repeat, #fff;
}
#second__modal {
  background: url("../img/modal/2.png") 100% 0 no-repeat, #fff;
}
#first__modal {
  background: url("../img/modal/1.png") 0 0 no-repeat, #fff;
}
#first__modal--first{
  background: url("../img/modal/4.png") 100% 0 no-repeat, #fff;
}
#first__modal--second{
  background: url("../img/modal/2.png") 0 0 no-repeat, #fff;
}

.popup-presentation__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 80px;
}
.popup-presentation__item--first{
  align-items: flex-start;
}
.phone-presentation__item{
  align-items: flex-start;
  padding: 40px;
}
.popup-presentation__title {
  max-width: 360px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 32px;

}
.second-presentation__title{
  max-width: 466px;
}
.popup-presentation__title--third{
  max-width: 360px;
  text-align: center;
  margin-bottom: 8px;
}
.popup-presentation__descr{
  max-width: 360px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 36px;
}
.popup-presentation__form {
  max-width: 337px;
}
.second-presentation__form-fied{
  margin-left: 50px;
}
.modal-input {
  width: 100%;
  margin-bottom: 31px;
  height: 72px;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 8px;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  padding-left: 68px;
}

.form__input-phone{
  background: url("../img/modal/01.png") 15px 50% no-repeat;
}
.form__input-email{
  background: url("../img/modal/02.png") 15px 50% no-repeat;
}
.form__input-name{
  background: url("../img/modal/03.png") 15px 50% no-repeat;
}
.popup-presentation__form-field {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  padding: 0;
}
.modal__policy {
 display: flex;
 align-items: flex-start;
}
.modal__policy--second{
  margin-left: 50px;
}
.modal__policy img{
  margin-right: 16px;
}
.modal__policy p {
  font-size: 11px;
line-height: 13px;
color: #A9A9A9;
max-width: 302px;
}
.modal__cover {
  width: 338px;
  margin-bottom: 16px;  
}
.popup-close {
  font-size: 18px;
  text-decoration: underline;
  line-height: 150%;
  cursor: pointer;
}
.popup-close:hover {
  text-decoration: none;
}

/* =================================form =============================== */

.form__input:focus {
  color: #000;
}

.form__input.validate {
  color: red;
  border-bottom: 1px solid red;
}

.form__input.validate::-webkit-input-placeholder {
  color: red;
}

.form__input.validate::-moz-placeholder {
  color: red;
}

.form__input.validate:-moz-placeholder {
  color: red;
}

.form__input.validate:-ms-input-placeholder {
  color: red;
}
.form__input::-webkit-input-placeholder {
  color: #b4b4b4;
}

.form__input::-moz-placeholder {
  color: #b4b4b4;
}

.form__input:-moz-placeholder {
  color: #b4b4b4;
}

.form__input:-ms-input-placeholder {
  color: #b4b4b4;
}
@media (max-width: 1023px) {
  #first__modal {
    background: url("../img/modal/1.png") -120px 0 no-repeat, #fff;

}
#first__modal--first{
  background: url("../img/modal/4.png") 150% 0 no-repeat, #fff;
}
#first__modal--second{
  background: url("../img/modal/2.png") -35% 0 no-repeat, #fff;
}
.second-presentation__form-fied {
  margin-left: 0px;
}
.modal__policy--second{
  margin-left: 0px;
}
.second-presentation__title {
  max-width: 350px;
}
#second__modal {
  background: url("../img/modal/2.png") 119% 40px no-repeat, #fff;
}
}
@media (max-width: 890px) {
  #third__modal {
    background: #fff;
  }
  .popup-presentation__item--close{
    align-items: center;
  }
}
@media (max-width: 767px) {
  .popup__content {
    max-width: 400px;
  }
  .popup-presentation__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
  }
  #first__modal {
    background: #fff;
  }
  #second__modal {
    background: #fff;
  }
  #first__modal--first{
    background: #fff;
  }
  #first__modal--second{
    background: #fff;
  }

  
  .btn-close::before,
  .btn-close::after {
    height: 25px;
  }
}

@media (max-width: 600px) {
  .popup-presentation__title {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .popup-presentation__form {
    max-width: 260px;
}
.modal-input {
  margin-bottom: 15px;
  height: 65px;
  font-size: 14px;
  padding-left: 60px;
}
.modal__btn{
  width: 260px;
}
.modal__policy img {
  margin-right: 5px;
}
}

/* ========================================= policy ==================================== */

.priv-policy_modal {
  padding: 40px;
}
.priv-policy__title {
  font-weight: 800;
  max-width: 600px;
  margin: 0 auto 20px auto;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #29313d;
}
.priv-policy__subtitle {
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto 20px auto;
  font-size: 18px;
  line-height: 120%;
  text-align: left;
  color: #29313d;
}
.priv-policy__text {
  max-width: 750px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: left;
  margin: 0 auto 15px 20px;
  color: #000;
}
.priv-policy__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  text-align: left;
  padding-left: 20px;
  margin: 0 auto 10px auto;
  color: #000;
}
.politicy-close {
  margin-top: 20px;
  max-width: 240px;
  color: #000;
}