html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #373737;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content__page {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 300px;
  }
}

.btn {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;

  background: linear-gradient(180deg, #e57b9f 0%, #eb3c77 100%);
  box-shadow: 0px 10px 37px rgba(229, 123, 159, 0.5);
  border-radius: 12px;
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.btn.outline {
  background: #fffbf1;
  filter: drop-shadow(0px 10px 37px rgba(235, 172, 127, 0.4));
  border: 2px solid #ff5d94;
  color: #ff5d94;
  box-shadow: none;
}
.btn:hover {
  background: linear-gradient(180deg, #e57b9f 0%, #eb3c77 100%);
  -webkit-box-shadow: 0px 4px 0px #d59302;
  box-shadow: 0px 4px 0px #d59302;
}
.btn:active {
  background: linear-gradient(180deg, #e57b9f 0%, #eb3c77 100%);
}
.btn::after {
  content: "";
  margin-left: 60px;
  width: 25px;
  height: 300px;
  background: -o-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0.01));
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fff),
    to(rgba(255, 255, 255, 0.01))
  );
  background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.01));
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  position: absolute;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: -90px;
  top: -150px;
  z-index: 0;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30%,
  to {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30%,
  to {
    left: 110%;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .btn {
    width: 340px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .btn {
    width: 240px;
    font-size: 14px;
  }
}
.title {
  font-size: 44px;
  line-height: 130%;
  color: #006161;
  text-transform: uppercase;
  font-weight: 800;
}
.subtitle {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #373737;
  text-transform: lowercase;
}
@media (max-width: 1023px) {
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 29px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 27px;
  }
  .subtitle {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 18px;
  }
}
/* ====================================  header ===================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__body {
  padding: 32px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__descr {
  max-width: 379px;
  font-size: 16px;
  text-align: center;
  line-height: 130%;
}

.phone-block {
  display: flex;
  align-items: flex-start;
}
.phone-block:hover .phone-block__icon {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.phone-block__icon {
  margin-right: 8px;
  margin-top: 3px;
}

.phone-block__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.phone-block__number {
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
}

.phone-block__order {
  font-size: 14px;
  position: relative;
}

@media (max-width: 1023px) {
  .header__logo img {
    max-width: 180px;
  }
  .phone-block__icon img {
    max-width: 30px;
  }
  .header__descr {
    font-size: 14px;
  }

  .phone-block__number {
    font-size: 18px;
    margin-top: 1px;
  }
}
@media (max-width: 767px) {
  .header__descr {
    display: none;
  }

  .header__logo img {
    max-width: 150px;
  }

  .phone-block__number {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .header__body {
    padding: 20px 0px;
  }

  .header__logo img {
    max-width: 120px;
    margin-right: 10px;
  }

  .phone-block__number {
    font-size: 14px;
  }

  .phone-block__order {
    font-size: 12px;
    margin-top: 0px;
  }

  .phone-block__icon {
    display: none;
  }
}

/* ======================================  main  ======================================= */

.main {
  background: url("../img/main/back.png") 50% / cover no-repeat, #fef5da;
}

.main__body {
  position: relative;
  padding: 210px 0 207px;
}
.main__title {
  max-width: 949px;
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 68px;
  line-height: 130%;
  color: #006161;
}
.main__title span {
  background: linear-gradient(
    90deg,
    #62bc98 25.84%,
    #40b9ae 43.86%,
    #edc779 63.92%,
    #e98e86 86.97%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main__subtitle {
  font-weight: 500;
  font-size: 38px;
  line-height: 140%;
  max-width: 827px;
  margin-bottom: 80px;
}
.main__subtitle span {
  font-weight: 700;
}
.main__descr {
  font-size: 22px;
  line-height: 27px;
  max-width: 760px;
  margin-bottom: 80px;
}
.main__btns {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
}
.main__btn {
  width: 400px;
}
.main__cover {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 16px;

  position: absolute;
  left: 0;
  bottom: -192px;
  width: 100%;
  z-index: 5;
}
.main__list {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 24px;
  padding: 32px 34px 47px;
  display: flex;
  justify-content: space-between;
}
.main__list > *:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 200px;
  background: url("../img/main/line.png") 50% / cover no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}
.main__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 33.333%;
}
.main__item-img {
  margin-bottom: 28px;
}
.main__item-descr {
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.main__item-subtitle {
  font-weight: 700;
  font-size: 42px;
  color: #e98e86;
  text-align: center;
}
.main__item-subtitle.special {
  font-size: 28px;
}
.main__slider {
  display: none;
}
@media (max-width: 1360px) {
  .main__item-subtitle {
    font-size: 28px;
  }
  .main__item-descr {
    font-size: 16px;
  }
  .main__item-subtitle.special {
    font-size: 20px;
  }
}
@media (max-width: 1270px) {
  .main {
    background: url("../img/main/back.png") 67% / cover no-repeat, #fef5da;
  }
  .main__title {
    max-width: 715px;
    font-size: 52px;
  }
  .main__subtitle {
    font-size: 25px;
  }
  .main__descr {
    font-size: 20px;
    line-height: 120%;
    max-width: 550px;
  }
  .main__btns {
    flex-direction: column;
  }
  .main__btns > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .main {
    background: url("../img/main/back.png") 50% / cover no-repeat, #fef5da;
  }
  .main__body {
    padding: 150px 0 190px;
  }
  .main__title {
    font-size: 36px;
  }
  .main__subtitle {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .main__descr {
    font-size: 18px;
    max-width: 510px;
    margin-bottom: 35px;
  }
  .main__btn {
    width: 340px;
    height: 60px;
    font-size: 18px;
  }
  .main__cover {
    padding: 10px;
  }
  .main__list {
    padding: 20px 10px;
  }
  .main__item-img {
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
  }
  .main__item-subtitle {
    font-size: 21px;
  }
  .main__item-subtitle.special {
    font-size: 16px;
  }
  .main__cover {
    bottom: -18%;
  }
}
@media (max-width: 767px) {
  .main__body {
    padding: 100px 0 155px;
  }
  .main__title {
    font-size: 30px;
  }
  .main__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .main__descr {
    font-size: 16px;
    max-width: 410px;
  }
  .main__item-descr {
    font-size: 14px;
  }
  .main__item-subtitle {
    font-size: 16px;
  }
  .main__item-subtitle.special {
    font-size: 13px;
    line-height: 120%;
  }
}
@media (max-width: 600px) {
  .main__body {
    padding: 70px 0 145px;
  }
  .main__title {
    font-size: 22px;
    text-align: center;
  }
  .main__subtitle {
    font-size: 17px;
    text-align: center;
  }
  .main__descr {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
  }
  .main__btns {
    align-items: center;
  }
  .main__btn {
    width: 240px;
    height: 60px;
    font-size: 14px;
  }
  .main__slider {
    display: block;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
    padding-bottom: 15px;
  }
  .main__list {
    display: none;
  }
  .main__item-img {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .main__item {
    min-height: 151px;
  }
  .main__item-descr {
    font-size: 14px;
    max-width: 180px;
    line-height: 120%;
  }
  .slider-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .slider-track {
    margin: 0 auto;
  }

  .slide-list {
    display: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  .slide-active {
    display: block;
  }

  .slide-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
  }

  .slide-dot.slide-active {
    background-color: rgb(233, 143, 134);
  }

  .slide-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e6e1e1;
    margin-right: 10px;
    cursor: pointer;
  }

  .slide-dot:last-child {
    margin-right: 0;
  }
}

/* =========================================  second  ====================================== */

.second__body {
  padding: 312px 0 95px;
  position: relative;
}
.second__img {
  position: absolute;
  top: 452px;
  left: -240px;
  z-index: 1;
}
.second__subtitle {
  margin-bottom: 40px;
  position: relative;
  z-index: 4;
}
.second__subtitle span {
  position: relative;
}
.second__subtitle span::after {
  content: url("../img/second/line.png");
  position: absolute;
  bottom: -25px;
  right: 0px;
}

.second__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 4;
}
.second__text span {
  font-weight: 600;
}
.second__text.one {
  max-width: 976px;
  margin-bottom: 48px;
}
.second__text.two {
  max-width: 814px;
  margin-bottom: 49px;
}
.second__text.three {
  max-width: 708px;
  margin-bottom: 48px;
}
.second__text.four {
  max-width: 629px;
  margin-bottom: 46px;
}
.second__static {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.second__static-subtitle {
  max-width: 405px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 130%;
}

@media (max-width: 1438px) {
  .second__body {
    padding: 265px 0 60px;
  }
  .second__subtitle {
    max-width: 1230px;
  }
  .second__img img {
    max-width: 928px;
  }
  .second__img {
    top: 460px;
    left: -470px;
  }
  .second__text {
    font-size: 16px;
  }
  .second__text.one {
    max-width: 825px;
    margin-bottom: 25px;
  }
  .second__text.two {
    max-width: 710px;
    margin-bottom: 30px;
  }
  .second__text.three {
    max-width: 630px;
    margin-bottom: 25px;
  }
  .second__text.four {
    max-width: 570px;
    margin-bottom: 60px;
  }
  .second__image {
    max-width: 480px;
  }
}
@media (max-width: 1023px) {
  .second__body {
    padding: 210px 0 70px;
  }
  .second__title {
    text-align: center;
  }
  .second__subtitle {
    text-align: center;
  }
  .second__img img {
    max-width: 870px;
  }
  .second__img {
    top: 395px;
    left: -520px;
  }
  .second__text.one {
    max-width: 670px;
    margin-bottom: 20px;
  }
  .second__text.two {
    max-width: 550px;
    margin-bottom: 20px;
  }
  .second__text.three {
    max-width: 475px;
    margin-bottom: 25px;
  }
  .second__text.four {
    max-width: 420px;
    margin-bottom: 25px;
  }
  .second__image {
    max-width: 380px;
  }
  .second__static-subtitle {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .second__body {
    padding: 150px 0 70px;
  }
  .second__img {
    display: none;
  }
  .second__subtitle span::after {
    right: -30px;
  }
  .second__text {
    text-align: center;
  }
  .second__text.two {
    max-width: 600px;
  }
  .second__text.three {
    max-width: 600px;
  }
  .second__text.four {
    max-width: 600px;
  }
  .second__static {
    max-width: 360px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .second__body {
    padding: 140px 0 40px;
  }
  .second__subtitle span::after {
    right: -13px;
    width: 195px;
    overflow: hidden;
  }
  .second__subtitle {
    margin-bottom: 40px;
  }
  .second__text {
    font-size: 14px;
  }
  .second__text.three {
    margin-bottom: 20px;
  }
  .second__text.four {
    margin-bottom: 20px;
  }
  .second__image {
    max-width: 240px;
  }
  .second__static-subtitle {
    font-size: 14px;
  }
  .second__static {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  }
}

/* ==================================================  third  ============================================= */
.third {
  background: url("../img/third/back.png") 50% / cover no-repeat;
}
.third__body {
  padding: 100px 0;
  position: relative;
}
.third__title {
  color: #fff;
}
.third__subtitle {
  color: #fff;
  margin-bottom: 11px;
}
.third__subtitle span {
  position: relative;
}
.third__subtitle span::after {
  content: url("../img/third/line.png");
  position: absolute;
  bottom: -20px;
  left: -3px;
}
.third__content {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 24px;
  width: 100%;
}
.third__inner {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 24px;
  padding: 93px 15px 24px 124px;
}
.third__descr {
  max-width: 735px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 27px;
}
.third__text {
  max-width: 735px;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 37px;
}
.third__text span {
  font-weight: 600;
}
.third__list > *:not(:last-child) {
  margin-bottom: 16px;
}
.third__item {
  display: flex;
  max-width: 735px;
  justify-content: space-between;
}
.third__item-img {
  margin-right: 32px;
}

.third__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 4px;
}
.third__item-descr {
  line-height: 130%;
  margin-bottom: 12px;
}
.third__item-descr span {
  font-weight: 600;
}
.third__item-elem {
  line-height: 130%;
  margin-bottom: 3px;
  margin-left: 37px;
  position: relative;
}
.third__item-elem::before {
  content: url("../img/third/tick.png");
  position: absolute;
  top: 0;
  left: -37px;
}
.third__button {
  display: flex;
  align-items: flex-end;
  margin-top: 29px;
  margin-left: 100px;
}
.third__button img {
  margin-right: 24px;
}
.third__btn {
  width: 400px;
}
.third__owner {
  position: absolute;
  right: -18%;
  bottom: 0;
}

.third__owner-block {
  position: absolute;
  bottom: 100px;
  left: 100px;

  background: #fffbf1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 16px;
  max-width: 612px;
}
.third__owner-inner {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 24px;

  padding: 24px 24px 28px 22px;
}
.third__owner-descr {
  line-height: 140%;
  margin-bottom: 8px;
}
.third__owner-descr span {
  font-weight: 600;
}
.third__owner-name {
  text-align: right;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}
.third__owner-post {
  text-align: right;
  font-size: 14px;
  line-height: 130%;
  max-width: 285px;
  margin-left: 250px;
}
@media (max-width: 1570px) {
  .third__owner {
    right: -15%;
  }
  .third__inner {
    padding: 93px 15px 24px 85px;
  }
}
@media (max-width: 1380px) {
  .third__content {
    padding: 16px;
  }
  .third__inner {
    padding: 30px 15px 20px 20px;
  }
  .third__descr {
    max-width: 575px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .third__text {
    max-width: 575px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .third__item {
    max-width: 510px;
  }
  .third__item-img img {
    width: 60px;
    height: 60px;
  }

  .third__item-img {
    margin-right: 15px;
  }
  .third__item-title {
    font-size: 18px;
  }
  .third__item-descr {
    font-size: 14px;
  }
  .third__item-elem {
    margin-left: 32px;
    font-size: 14px;
  }
  .third__owner-block {
    padding: 12px;
    max-width: 439px;
  }
  .third__owner-inner {
    padding: 16px 16px 16px 12px;
  }
  .third__owner-descr {
    font-size: 14px;
  }
  .third__owner-name {
    font-size: 18px;
  }
  .third__owner-post {
    margin-left: 150px;
  }
  .third__owner-img {
    max-width: 650px;
  }
  .third__owner {
    right: 0%;
  }
  .third__button {
    margin-top: 20px;
    margin-left: 15px;
  }
  .third__button img {
    margin-right: 12px;
    max-width: 100px;
  }
}
@media (max-width: 1142px) {
  .third__owner {
    right: -11%;
  }
}
@media (max-width: 1023px) {
  .third__body {
    padding: 80px 0 40px;
  }
  .third__owner {
    position: relative;
  }
  .third__title {
    text-align: center;
  }
  .third__subtitle {
    text-align: center;
  }
  .third__subtitle span::after {
    width: 145px;
    overflow: hidden;
  }
  .third__descr {
    text-align: center;
    margin: 0 auto 20px;
  }
  .third__text {
    text-align: center;
    margin: 0 auto 20px;
  }
  .third__item {
    max-width: 660px;
  }
  .third__button img {
    max-width: 80px;
  }
  .third__owner-img {
    max-width: 450px;
  }
  .third__owner {
    position: relative;
    bottom: -40px;
    left: 25%;
  }
  .third__owner-block {
    bottom: 50px;
    left: -100px;
  }
}
@media (max-width: 767px) {
  .third__body {
    padding: 60px 0 40px;
  }
  .third__subtitle span::after {
    width: 113px;
  }
  .third__owner-img {
    max-width: 360px;
  }
  .third__button {
    margin-bottom: 50px;
  }
  .third__owner-block {
    bottom: -40px;
    left: -50px;
  }
  .third__owner {
    bottom: 40px;
  }
  .third__button img {
    max-width: 50px;
  }
}
@media (max-width: 600px) {
  .third__subtitle span::after {
    width: 90px;
  }
  .third__content {
    padding: 10px;
  }
  .third__inner {
    padding: 15px 6px 10px 6px;
  }
  .third__descr {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .third__text {
    font-size: 14px;
    margin: 0 auto 15px;
  }
  .third__item {
    flex-direction: column;
    align-items: center;
  }
  .third__item-title {
    font-size: 15px;
    text-align: center;
  }
  .third__item-descr {
    font-size: 12px;
    text-align: center;
  }
  .third__item-elem::before {
    top: 3px;
    left: -30px;
  }
  .third__item-elem {
    font-size: 13px;
  }
  .third__button img {
    display: none;
  }
  .third__owner-img {
    max-width: 310px;
  }
  .third__owner {
    left: 2%;
    bottom: 110px;
  }
  .third__owner-name {
    font-size: 16px;
  }
  .third__owner-post {
    margin-left: 20px;
  }
  .third__owner-block {
    max-width: 270px;
    padding: 6px;
  }
  .third__owner-descr {
    font-size: 12px;
  }
  .third__owner-inner {
    padding: 10px;
  }
  .third__owner-post {
    font-size: 12px;
  }
  .third__owner-block {
    bottom: -115px;
    left: -5px;
  }
  .third__button {
    margin-bottom: 130px;
  }
}

/* =================================  fourth  =================================== */
.fourth {
  background-color: #fff;
}
.fourth__body {
  padding: 100px 0 0px;
}
.fourth__title {
  text-align: center;
  margin-bottom: 24px;
}
.fourth__descr {
  max-width: 1194px;
  text-align: center;
  margin: 0 auto 60px;

  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}
.fourth__slider {
  width: 100%;
  margin: 0 auto 100px;
}
.fourth__slider .slick-list {
  height: 470px;
}
.fourth__item {
  text-align: center;
}
.fourth__item img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
  margin: 0 auto;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
}
.slick-dots > :not(:last-child) {
  margin-right: 40px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  background: #65bc92;
  text-indent: -9999px;
  overflow: hidden;
  display: flex;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  background: #e98e86;
  width: 24px;
  height: 24px;
}
.slider {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
  margin: 0px 15px;
}

.slick-slide {
  transition: all ease-in 0.5s;
  max-width: 460px;
}

.slick-slide.slick-current {
  max-width: 700px;
}
.fourth__slider {
  max-width: 1920px;
  position: relative;
}
.fourth__slider .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #65bc92;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.fourth__slider .slick-arrow.slick-prev {
  left: 27%;
  bottom: 8%;
  background: url("../img/fourth/prev.svg") 50% no-repeat;
}
.fourth__slider .slick-arrow.slick-next {
  right: 27%;
  bottom: 8%;
  background: url("../img/fourth/next.svg") 50% no-repeat;
}
@media (max-width: 1760px) {
  .fourth__slider .slick-arrow.slick-prev {
    left: 25%;
  }
  .fourth__slider .slick-arrow.slick-next {
    right: 25%;
  }
}
@media (max-width: 1620px) {
  .fourth__slider .slick-arrow.slick-prev {
    left: 22%;
  }
  .fourth__slider .slick-arrow.slick-next {
    right: 22%;
  }
}
@media (max-width: 1450px) {
  .fourth__slider .slick-arrow.slick-prev {
    left: 20%;
  }
  .fourth__slider .slick-arrow.slick-next {
    right: 20%;
  }
}
@media (max-width: 1350px) {
  .fourth__slider .slick-arrow.slick-prev {
    left: 17%;
  }
  .fourth__slider .slick-arrow.slick-next {
    right: 17%;
  }
}
@media (max-width: 1230px) {
  .fourth__slider .slick-arrow.slick-prev {
    left: 14%;
  }
  .fourth__slider .slick-arrow.slick-next {
    right: 14%;
  }
}
@media (max-width: 1120px) {
  .fourth__slider .slick-arrow.slick-prev {
    left: 10%;
  }
  .fourth__slider .slick-arrow.slick-next {
    right: 10%;
  }
}
@media (max-width: 1023px) {
  .slick-slide {
    max-width: 380px;
  }
  .slick-slide.slick-current {
    max-width: 500px;
  }
  .fourth__slider .slick-list {
    height: 340px;
  }
}
@media (max-width: 767px) {
  .fourth__body {
    padding: 60px 0 0px;
  }
  .fourth__descr {
    margin: 0 auto 40px;
    font-size: 18px;
  }
  .slick-slide {
    max-width: 280px;
  }
  .slick-slide.slick-current {
    max-width: 370px;
  }
  .fourth__slider .slick-list {
    height: 260px;
  }
  .slick-dots .slick-active button {
    background: #e98e86;
    width: 18px;
    height: 18px;
  }
  .slick-dots li button {
    width: 12px;
    height: 12px;
  }
  .slick-dots > :not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .fourth__body {
    padding: 40px 0 0px;
  }
  .fourth__title {
    margin-bottom: 20px;
  }
  .fourth__descr {
    margin: 0 auto 30px;
    font-size: 16px;
  }
  .slick-slide {
    max-width: 200px;
  }
  .slick-slide.slick-current {
    max-width: 270px;
  }
  .fourth__slider .slick-list {
    height: 185px;
  }
  .fourth__slider {
    margin: 0 auto 40px;
  }
}
/* ================================  fifth  ============================ */
.fifth {
  background: linear-gradient(294.58deg, #eccd76 -7.49%, #e98e86 87.45%);
}

.fifth__body {
  padding: 100px 0;
  position: relative;
}
.fifth__title {
  text-align: center;
  color: #fff;
}

.fifth__subtitle {
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.fifth__subtitle span {
  position: relative;
}
.fifth__subtitle span::after {
  content: url("../img/fifth/line.png");
  position: absolute;
  left: -5px;
  bottom: -25px;
}

.fifth__descr {
  max-width: 1070px;
  margin: 0 auto 47px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.fifth__box {
  margin-bottom: 60px;
}
.fifth__tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.fifth__tab:nth-child(1) {
  background: #35b7b5;
}
.fifth__tab:nth-child(2) {
  background: #eccd76;
}
.fifth__tab:nth-child(3) {
  background: #e98e86;
}
.fifth__tab {
  border-radius: 24px 24px 0px 0px;
  width: 460px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.fifth__tab.active {
  height: 90px;
}
.fifth__content {
  display: none;
}
.fifth__content.active {
  display: flex;
  background-color: #fff;
  padding: 60px 25px 44px 120px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 24px 24px;
}
.fifth__content-img {
  margin-right: 119px;
}

.fifth__content-top {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 44px;
}
.fifth__content-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.fifth__content-list > *:not(:last-child) {
  margin-bottom: 10px;
}
.fifth__content-item {
  font-size: 22px;
  line-height: 130%;
  margin-left: 30px;
  position: relative;
}
.fifth__content-item::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1430px) {
  .fifth__tab {
    width: 400px;
  }
}
@media (max-width: 1240px) {
  .fifth__tab {
    width: 320px;
  }
  .fifth__content.active {
    padding: 50px 20px 30px 40px;
  }
  .fifth__content-img {
    margin-right: 30px;
  }
}
@media (max-width: 1023px) {
  .fifth__body {
    padding: 80px 0 60px;
  }
  .fifth__tab {
    font-size: 20px;
  }
  .fifth__tab.active {
    height: 70px;
  }
  .fifth__tab {
    width: 230px;
    height: 55px;
  }
  .fifth__content-img {
    margin-right: 20px;
    width: 290px;
  }
  .fifth__content-top {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .fifth__content-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .fifth__content-list > *:not(:last-child) {
    margin-bottom: 5px;
  }
  .fifth__content-item {
    font-size: 16px;
    margin-left: 23px;
  }
  .fifth__subtitle span::after {
    width: 272px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .fifth__body {
    padding: 60px 0 8px;
  }
  .fifth__tab {
    font-size: 18px;
  }
  .fifth__subtitle span::after {
    width: 207px;
  }
  .fifth__tab {
    width: 188px;
  }
  .fifth__content.active {
    padding: 30px 12px 20px 20px;
  }
  .fifth__content-img {
    margin-right: 15px;
    width: 270px;
  }
  .fifth__content-top {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .fifth__content-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .fifth__content-list > *:not(:last-child) {
    margin-bottom: 2px;
  }
  .fifth__content-item {
    font-size: 14px;
    margin-left: 18px;
  }
}
@media (max-width: 600px) {
  .fifth__body {
    padding: 40px 0 0;
  }
  .fifth__subtitle span::after {
    width: 170px;
    bottom: -21px;
  }
  .fifth__subtitle {
    margin-bottom: 25px;
  }
  .fifth__descr {
    margin: 0 auto 25px;
    font-size: 14px;
  }
  .fifth__tab {
    font-size: 0px;
    width: 50px;
    border-radius: 24px 24px 24px 24px;
    height: 35px;
  }
  .fifth__tab.active {
    font-size: 15px;
    width: 170px;
    border-radius: 24px 24px 0px 0px;
    height: 45px;
  }
  .fifth__content.active {
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 4px 4px 24px 24px;
  }
  .fifth__content-img {
    margin-right: 0px;
    margin-bottom: 15px;
    width: 250px;
  }
  .fifth__content-top {
    text-align: center;
  }
  .fifth__content-title {
    font-size: 16px;
    text-align: center;
  }
}

.fifth__bottom-title {
  max-width: 705px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 40px;
}
.fifth__bottom-list {
  display: flex;
  max-width: 705px;
  margin-bottom: 40px;
}
.fifth__bottom-list > *:not(:last-child) {
  margin-right: 35px;
}
.fifth__bottom-item > *:not(:last-child) {
  margin-bottom: 15px;
}
.fifth__bottom-elem {
  line-height: 130%;
  color: #fff;
  position: relative;
  margin-left: 37px;
}
.fifth__bottom-elem::before {
  content: url("../img/fifth/tick.png");
  width: 21px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: -37px;
}
.fifth__bottom-descr {
  max-width: 705px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 40px;
}
.fifth__bottom-btn {
  max-width: 400px;
}
.fifth__img {
  position: absolute;
  bottom: -7px;
  right: -199px;
}

@media (max-width: 1460px) {
  .fifth__img {
    max-width: 750px;
    right: -70px;
  }
}
@media (max-width: 1350px) {
  .fifth__img {
    max-width: 550px;
  }
  .fifth__bottom-descr {
    max-width: 590px;
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .fifth__bottom-title {
    max-width: 880px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }
  .fifth__img {
    position: relative;
    bottom: -64px;
    max-width: 600px;
  }
  .fifth__bottom-list {
    justify-content: center;
  }
  .fifth__bottom-descr {
    max-width: 880px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }

  .fifth__bottom-btn {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .fifth__img {
    position: relative;
    top: 10px;
    max-width: 450px;
  }
}
@media (max-width: 600px) {
  .fifth__box {
    margin-bottom: 30px;
  }
  .fifth__bottom-title {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .fifth__bottom-list > *:not(:last-child) {
    margin-right: 0px;
  }
  .fifth__bottom-item > *:not(:last-child) {
    margin-bottom: 10px;
  }
  .fifth__bottom-elem {
    font-size: 12px;
    margin-left: 35px;
  }
  .fifth__bottom-list {
    margin-bottom: 25px;
  }
  .fifth__bottom-elem::before {
    left: -30px;
  }
  .fifth__bottom-descr {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .fifth__img {
    top: 2px;
    left: 0px;
    max-width: 270px;
  }
}
/* ===============================  sixth  ============================= */
.sixth {
  background: url("../img/sixth/back.png") 50% / cover no-repeat;
}
.sixth__body {
  padding: 100px 0;
}
.sixth__title {
  max-width: 820px;
  text-align: center;
  margin: 0 auto 24px;
}
.sixth__descr {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 24px;
}
.sixth__content {
}
.sixth__adaptive {
  display: none;
}

@media (max-width: 1475px) {
  .sixth__photos {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 1225px) {
  .sixth__photos {
    max-width: 995px;
  }
}
@media (max-width: 1023px) {
  .sixth__photos {
    display: none;
  }
  .sixth__adaptive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .first__img {
    max-width: 320px;
  }
  .sec__img {
    max-width: 300px;
  }
  .third__img {
    max-width: 320px;
  }
  .fourth__img {
    max-width: 300px;
  }
  .fif__img {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .sixth__body {
    padding: 60px 0;
  }
  .first__img {
    max-width: 260px;
  }
  .sec__img {
    max-width: 260px;
  }
  .third__img {
    max-width: 260px;
  }
  .fourth__img {
    max-width: 260px;
  }
  .fif__img {
    max-width: 260px;
  }
}
@media (max-width: 600px) {
  .sixth__body {
    padding: 40px 0;
  }
  .sixth__descr {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .first__img {
    max-width: 240px;
  }
  .sec__img {
    max-width: 240px;
  }
  .third__img {
    max-width: 240px;
  }
  .fourth__img {
    max-width: 240px;
  }
  .fif__img {
    max-width: 240px;
  }
}
/* =============================  seventh  =============================== */
.seventh {
  background: linear-gradient(102.33deg, #65bc92 4.5%, #35b7b5 98.51%);
}
.seventh__body {
  padding: 100px 0;
}
.seventh__title {
  color: #fff;
}

.seventh__subtitle {
  margin-bottom: 37px;
  color: #fff;
}
.seventh__subtitle span {
  position: relative;
}
.seventh__subtitle span::after {
  content: url("../img/seventh/line.png");
  position: absolute;
  bottom: -25px;
  left: -8px;
}
.seventh__content {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 20px 23px 24px 24px;
}
.seventh__box {
  border-radius: 24px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  padding: 52px 20px 48px 69px;
  position: relative;
}
.seventh__box-title {
  max-width: 735px;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 40px;
}
.seventh__box-list {
  max-width: 620px;
  margin-bottom: 40px;
}
.seventh__box-list > *:not(:last-child) {
  margin-bottom: 15px;
}
.seventh__bottom-elem {
  color: #373737;
}
.seventh__box-bottom {
  max-width: 650px;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}
.seventh__box-img {
  position: absolute;
  bottom: -268px;
  right: -260px;
}
.seventh__btn {
  display: flex;
  align-items: flex-end;
  margin: -20px 0 0 80px;
}
.seventh__arrow {
  margin-right: 16px;
}
.seventh-button {
  width: 400px;
}

@media (max-width: 1435px) {
  .seventh__box-img {
    max-width: 825px;
    bottom: -213px;
    right: -200px;
  }
}
@media (max-width: 1320px) {
  .seventh__box-bottom {
    max-width: 415px;
    font-size: 17px;
  }
  .seventh__box-img {
    max-width: 700px;
    bottom: -185px;
    right: -177px;
  }
  .seventh__bottom-elem {
    font-size: 15px;
  }
  .seventh__box-title {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .seventh__body {
    padding: 80px 0;
  }
  .seventh__title {
    text-align: center;
  }
  .seventh__subtitle {
    text-align: center;
  }
  .seventh__subtitle span::after {
    width: 325px;
    overflow: hidden;
  }
  .seventh__box-img {
    display: none;
  }
  .seventh__content {
    padding: 15px 20px 20px 18px;
  }
  .seventh__box {
    padding: 20px 10px 20px 35px;
  }
  .seventh__box-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .seventh__box-list {
    margin-bottom: 20px;
  }
  .seventh__box-bottom {
    max-width: 640px;
    text-align: center;
  }
  .seventh__btn {
    margin: -15px 0 0 70px;
  }
}
@media (max-width: 767px) {
  .seventh__subtitle span::after {
    width: 250px;
    bottom: -18px;
  }
  .seventh__btn {
    margin: -15px 0 0 25px;
  }
  .seventh__arrow {
    margin-right: 10px;
    max-width: 90px;
  }
}
@media (max-width: 600px) {
  .seventh__body {
    padding: 40px 0;
  }
  .seventh__subtitle span::after {
    width: 242px;
    bottom: -21px;
    left: -173px;
  }
  .seventh__box {
    padding: 20px 5px 15px 5px;
  }
  .seventh__box-title {
    font-size: 14px;
  }
  .seventh__content {
    padding: 10px;
  }
  .seventh__bottom-elem {
    font-size: 13px;
  }
  .seventh__box-bottom {
    font-size: 14px;
  }
  .seventh__arrow {
    display: none;
  }
  .seventh__btn {
    margin: 20px auto 0;
    text-align: center;
  }
}

/* ========================================  eigth  ===================================== */

.eighth {
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 26.68%),
    url("../img/eight/back.png") 50% / cover;
}

.eighth__body {
  padding: 100px 0;
  position: relative;
}
.eighth__title {
  text-align: center;
  margin-bottom: 24px;
}
.eighth__descr {
  max-width: 706px;
  text-align: center;
  margin: 0 auto 32px;
}
.eighth__descr span {
  font-weight: 600;
}
.eighth__content {
  max-width: 620px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}
.eighth__top {
  background: linear-gradient(90deg, #65bc92 0%, #35b7b5 100%);
  border-radius: 24px 24px 0px 0px;
  padding: 16px;
}
.eighth__top-title {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: #fff;
}
.eighth__top-descr {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.eighth__bottom {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 24px 24px;
  padding: 24px 20px;
}
.eighth__bottom-list {
  margin-bottom: 32px;
}
.eighth__bottom-list > *:not(:last-child) {
  margin-bottom: 10px;
}
.eighth__bottom-item {
  margin-left: 20px;
  line-height: 130%;
  position: relative;
}
.eighth__bottom-item span {
  font-weight: 600;
}
.eighth__bottom-item::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -10px;
}
.eighth__bottom-static {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.eight-bot > *:not(:last-child) {
  margin-bottom: 34px;
}
.eighth__bottom-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  max-width: 190px;
}
.eighth__bottom-price {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #006161;
}
.eighth__bottom-price span {
  font-size: 32px;
}

@media (max-width: 767px) {
  .eighth__body {
    padding: 60px 0;
  }
  .eighth__top-title {
    font-size: 22px;
  }
  .eighth__top {
    padding: 10px;
  }
  .eighth__bottom {
    padding: 18px 15px;
  }
  .eighth__bottom-item {
    font-size: 16px;
  }
  .eighth__bottom-name {
    font-size: 18px;
  }
  .eighth__bottom-price span {
    font-size: 26px;
  }
  .eighth__bottom-price {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .eighth__body {
    padding: 40px 0;
  }
  .eighth__title {
    margin-bottom: 15px;
  }
  .eighth__descr {
    margin: 0 auto 20px;
    font-size: 14px;
  }
  .eighth__top-title {
    font-size: 18px;
  }
  .eighth__top-descr {
    font-size: 14px;
  }
  .eighth__bottom {
    padding: 15px 10px;
  }
  .eighth__bottom-item {
    font-size: 12px;
  }
  .eight-bot > *:not(:last-child) {
    margin-bottom: 15px;
  }
  .eighth__bottom-static {
    padding: 0;
  }
  .eighth__bottom-name {
    font-size: 14px;
    width: 200px;
  }
  .eighth__bottom-price span {
    font-size: 18px;
  }
  .eighth__bottom-price {
    font-size: 14px;
  }
}
.first__woman {
  position: absolute;
  bottom: 0;
  left: -90px;
}
.second__woman {
  position: absolute;
  bottom: 0;
  right: -90px;
}
.first__woman-box {
  position: absolute;
  top: 63%;
  left: 20%;
}
.second__woman-box {
  position: absolute;
  top: 63%;
  left: 20%;
}

.woman-box {
  background: #fffbf1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 8px;
}
.woman-content {
  border-radius: 16px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 104px;
}
.woman-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}
.woman-descr {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
}

@media (max-width: 1400px) {
  .first__woman-img {
    max-width: 530px;
  }
  .second__woman-img {
    max-width: 465px;
  }
}
@media (max-width: 1350px) {
  .first__woman {
    display: none;
  }
  .second__woman {
    display: none;
  }
}
@media (max-width: 600px) {
  .first__woman {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
  }
  .second__woman {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
  }

  .first__woman-img {
    max-width: 240px;
    display: block;
  }
  .second__woman-img {
    max-width: 215px;
    display: block;
  }
  .first__woman-box {
    position: absolute;
    top: 73%;
    left: 0%;
  }
  .second__woman-box {
    position: absolute;
    top: 73%;
    left: 0%;
  }
  .woman-content {
    width: 250px;
    height: 90px;
  }
  .woman-name {
    font-size: 18px;
  }
  .woman-descr {
    font-size: 12px;
  }
}
/* ===============================  nine  =============================== */
.nine {
  background-color: #fff;
}
.nine__body {
  padding: 32px 0 100px;
}
.nine__title {
  text-align: center;
  margin-bottom: 16px;
}

.nine__descr {
  max-width: 720px;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  margin: 0 auto 40px;
}
.nine__descr span {
  font-weight: 600;
}
.nine__content {
  display: flex;
  justify-content: space-between;

  position: relative;
}
.nine__dots {
  position: absolute;
  top: 48%;
  left: 45%;
}
.nine__item {
  width: 583px;
  background-color: #fff;
}
.nine__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.nine__top--first {
  background: #eccd76;
  border-radius: 24px 24px 0px 0px;
}
.nine__item-text {
  margin: 38px;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}
.nine__item-text span {
  font-weight: 600;
}
.nine__item-descr {
  font-size: 22px;
  line-height: 130%;
  margin: 0 40px 12px 40px;
  text-align: center;
}
.nine__item-price {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40px;
  color: #006161;
}
.nine__top--second {
  background: #e98e86;
  border-radius: 24px 24px 0px 0px;
}
.nine__item-text--second {
  margin: 50px 0 67px;
}
.nine__item-descr--second {
  margin-bottom: 26px;
}

@media (max-width: 1360px) {
  .nine__dots {
    max-width: 120px;
  }
  .nine__item {
    width: 450px;
  }
  .nine__top {
    font-size: 24px;
  }
  .nine__item-text {
    margin: 20px;
    font-size: 20px;
  }
  .nine__item-descr {
    font-size: 20px;
    margin: 0 25px 12px 25px;
  }
  .nine__item-text--second {
    margin: 49px 0 69px;
  }
  .nine__item-img {
    width: 100%;
  }
  .nine__dots {
    left: 45.5%;
    max-width: 90px;
  }
}
@media (max-width: 1023px) {
  .nine__item {
    width: 350px;
  }
  .nine__top {
    font-size: 20px;
  }
  .nine__item-text {
    font-size: 16px;
  }
  .nine__item-descr {
    font-size: 16px;
  }
  .nine__item-price {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .nine__dots {
    display: none;
  }
  .nine__item-text--second {
    margin: 47px 0 55px;
  }
}
@media (max-width: 767px) {
  .nine__body {
    padding: 30px 0 60px;
  }
  .nine__descr {
    font-size: 18px;
    margin: 0 auto 25px;
  }
  .nine__top {
    font-size: 16px;
  }
  .nine__item {
    width: 280px;
  }
}
@media (max-width: 600px) {
  .nine__body {
    padding: 0px 0 40px;
  }
  .nine__descr {
    font-size: 14px;
    margin: 0 auto 20px;
  }
  .nine__content {
    flex-direction: column;
  }
  .nine__item {
    width: 270px;
  }
  .nine__content > *:not(:last-child) {
    margin-bottom: 20px;
  }
  .nine__top {
    padding: 15px 10px;
    font-size: 15px;
  }
  .nine__item-text {
    font-size: 14px;
    margin: 15px;
  }
  .nine__item-descr {
    font-size: 14px;
    margin: 15px;
  }
  .nine__item-price {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

/* ==================================  ten  ================================ */

.ten {
  background: url("../img/ten/back.png") 50% / cover no-repeat;
}
.ten__body {
  padding: 100px 0;
}
.ten__title {
  text-align: center;
  margin-bottom: 37px;
  color: #fff;
}
.ten__descr {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.ten__content {
  position: relative;
}
.ten__calc {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  max-width: 950px;
  padding: 10px;
}
.ten__calc-inner {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 24px;
  padding: 32px 50px;
}
.ten__calc-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.ten__calc-tab {
  border: 3px solid #35b7b5;
  border-radius: 16px;
  width: 400px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #35b7b5;
  cursor: pointer;
}
.ten__calc-tab.active {
  background: linear-gradient(90deg, #65bc92 0%, #35b7b5 100%);
  color: #fff;
  border: none;
}

.ten__calc-content {
  display: none;
}
.ten__calc-content.active {
  display: block;
}
.ten__calc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.ten__calc-descr {
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  max-width: 400px;
  color: #161615;
}
.ten__calc-price {
  font-weight: 700;
  font-size: 27.5px;
  line-height: 125%;
  text-align: right;
  color: #006161;
}
.calc__calculator {
  margin-top: 40px;
}
.ten__calc-garden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.ten__calc-garden div {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #161615;
}
.ten__calc-garden p {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #006161;
}
.calc__calculator-range {
  position: relative;
}

.range__input {
  -webkit-appearance: none;
  width: 830px;
  height: 14px;
  background: rgba(78, 77, 77, 0.205);
  border-radius: 10px;
  outline: none;
  position: relative;
  bottom: 1px;
}
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(90deg, #65bc92 0%, #35b7b5 100%);
  border: 7.5px solid #ffffff;
  outline: 3px solid #65bc92;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  z-index: 20;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.range__input::-webkit-slider-thumb::after {
  content: url("../img/ten/triangle.png");
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: -30px;
  left: 273px;
}
.tooltip {
  display: flex;
  color: #000;
  pointer-events: none;
  width: 830px;
  margin-top: 7px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: 500;
  font-size: 22.5px;
  line-height: 125%;
  padding: 0 5px;
}
.tooltip >:nth-child(2){
  margin-left: 16px;
}
.tooltip >:nth-child(3){
  margin-left: 7px;
}
.ten__result {
  position: absolute;
  bottom: 17px;
  right: 0px;
}
.ten__result-amount {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 75px;
  line-height: 61%;
  text-align: right;
  letter-spacing: -0.04em;
  color: #FFFFFF;

  position: absolute;
  top: 185px;
    left: 100px;
}
.ten__result-button {
  width: 400px;
  position: absolute;
  bottom: 65px;
  left: 25px;
}

.progress {
  width: 830px;
  height: 13px;
  background: linear-gradient(90deg, #65bc92 0%, #35b7b5 100%);
  border-radius: 10px;
  position: absolute;
  top: 3%;
  left: 0%;
  pointer-events: none;
  z-index: 1;
}
.tooltip > .tooltip-value-02{
  margin-left: 7px;
}
.tooltip > .tooltip-value-02{
  margin-left: 5px;
}