.phone-block__order p {
  max-width: 190px;
  line-height: 120%;
  text-align: center;
}
.thanks__header {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  position: relative;
}
.thanks__header-body {
  padding: 20px 0;
}
.thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background: url("../img/thanks/back.png") 100% 50% no-repeat, #fffbf1;
}
@media (max-width: 2560px) {
  .thanks {
    display: block;
  }
}
.thanks__body {
  padding: 40px 0;
  width: 1170px;
  position: relative;
}
@media (max-width: 2645px) {
  .thanks__body {
    width: auto;
  }
}
.thanks__title {
  max-width: 730px;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  margin-bottom: 16px;
}
.thanks__title span {
  color: #006161;
  text-transform: uppercase;
}

.thanks__descr {
  margin-bottom: 16px;
}
.thanks__box {
  display: flex;
  max-width: 740px;
  justify-content: space-between;
  margin-bottom: 16px;
}
.thanks__box-item {
  width: 350px;
  padding: 34px 10px 29px 24px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.thanks__box > .thanks__box-item:nth-child(1) {
  background: url("../img/thanks/back1.png") 100% 50% no-repeat, #fff;
}
.thanks__box > .thanks__box-item:nth-child(2) {
  background: url("../img/thanks/back2.png") 100% 50% no-repeat, #fff;
}
.thanks__box-item p {
  font-size: 14px;
  line-height: 125%;
  color: #1f1f1f;
  margin-bottom: 14px;
}
.thanks__box-date {
  font-size: 20px;
  line-height: 125%;
  color: #1f1f1f;
}
.thanks__box-date span {
  font-weight: 600;
  color: #35b7b5;
}
.thanks__box-time {
  font-size: 22px;
}
.thanks__subscribe {
  max-width: 730px;
  line-height: 130%;
  margin-bottom: 16px;
}
.thanks__intro {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 16px;
}
.thanks__socials {
  max-width: 740px;
  display: flex;
  justify-content: space-between;
}
.thanks__social {
  margin-bottom: 24px;
}
.thanks__social-text {
  margin-bottom: 16px;
}
.thanks__social-link {
  display: flex;
  align-items: center;
}
.thanks__social-link > *:not(:last-child) {
  margin-right: 30px;
}
.thanks__bottom {
  display: flex;
  align-items: center;
}
.thanks__web {
  margin-right: 190px;
}
.thanks__web p {
  margin-bottom: 16px;
}
.thanks__bottom-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #006161;
  max-width: 350px;
  position: relative;
}
.thanks__bottom-text::after {
  content: url("../img/thanks/line.png");
  position: absolute;
  bottom: -15px;
  left: 1px;
}
.thanks__owner {
  position: absolute;
  top: 40px;
  right: 120px;
}
.thanks__owner-box {
  background: #fffbf1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 350px;
  padding: 8px 7px;
  position: relative;
  top: -125px;
  left: 40px;
}
.thanks__owner-inner {
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(233, 143, 134)' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='23' stroke-linecap='butt'/%3e%3c/svg%3e");
  padding: 21px 50px;
  text-align: center;
}
.thanks__owner-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 15px;
}
.thanks__owner-descr {
  font-style: italic;
  color: #373737;
}

@media (max-width: 1350px) {
  .thanks {
    background: url("../img/thanks/back.png") 100% 50% no-repeat,
      rgba(255, 251, 241, 0.5);
    background-blend-mode: overlay;
  }
  .thanks__owner {
    right: -85px;
  }
  .thanks__web {
    margin-right: 110px;
  }
  .thanks__socials {
    max-width: 640px;
  }
  .thanks__subscribe {
    max-width: 700px;
  }
}
@media (max-width: 1023px) {
  .thanks__title {
    max-width: 560px;
    font-size: 25px;
  }
  .thanks__descr {
    max-width: 500px;
  }
  .thanks__box {
    flex-direction: column;
  }
  .thanks__box > *:not(:last-child) {
    margin-bottom: 10px;
  }
  .thanks__subscribe {
    max-width: 400px;
    font-size: 15px;
  }
  .thanks__owner img {
    max-width: 360px;
  }
  .thanks__owner-box {
    width: 280px;
    top: -80px;
  }
  .thanks__owner-inner {
    padding: 15px 20px;
  }
  .thanks__owner-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .thanks__owner-descr {
    font-size: 16px;
  }
  .thanks__owner {
    right: -50px;
    top: 50px;
  }
  .thanks__intro {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}
.thanks__social-text {
  margin-bottom: 12px;
}
}
@media (max-width: 767px) {
  .thanks {
    background: url("../img/thanks/back.png") 100% 50% no-repeat,
      rgba(255, 251, 241, 0.8);
  }
  .phone-block__order p {
    font-size: 12px;
  }
  .thanks__title {
    text-align: center;
    font-size: 22px;
    margin: 0 auto 20px;
}
.thanks__descr{
  font-size: 16px;
  text-align: center;
  margin: 0 auto 15px;
}
.thanks__box{
  align-items: center;
}
.thanks__owner{
  display: none;
}
.thanks__box-item {
  width: 270px;
  padding: 18px 10px 15px 10px;
}
.thanks__box-item p {
  margin-bottom: 10px;
}
.thanks__box-date {
  font-size: 18px;
}
.thanks__box-time {
  font-size: 18px;
}
.thanks__subscribe {
  max-width: 600px;
  text-align: center;
}
.thanks__intro {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.thanks__social-text {
  margin-bottom: 10px;
  font-size: 14px;
}
.thanks__social-link > *:not(:last-child) {
  margin-right: 15px;
}
.thanks__social {
  margin-bottom: 15px;
}
.thanks__socials {
  max-width: 550px;
}
.thanks__web p {
  margin-bottom: 10px;
  font-size: 14px;
}
.thanks__web {
  margin-right: 90px;
}
.thanks__bottom-text {
  font-size: 14px;
  text-align: center;
}
.thanks__bottom-text::after {
  bottom: -20px;
  left: -2px;
  width: 310px;
  overflow: hidden;
}
.thanks__bottom {
  display: flex;
  align-items: flex-start;
}
}
@media (max-width: 600px) {
  .thanks__socials{
    flex-direction: column;
  }
  .thanks__social{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thanks__web {
    margin-right: 0px;
    margin-bottom: 15px;
}
.thanks__bottom{
  flex-direction: column;
  align-items: center;
}
.thanks__bottom-text::after {
  left: 13px;
  width: 240px;
}
.thanks__owner{
  display: block;
  position: relative;
  top: 15px;
  left: 0;
  height: 380px;
}
.thanks__owner img {
  max-width: 270px;
}
.thanks__owner-box {
  width: 250px;
  top: -70px;
  left: 10px; 
}
.thanks__owner-inner {
  padding: 5px 10px;
}
}